.destinations div {
    cursor: pointer;
}
.destinations div:hover {
    background: #888;
}

.xbmc_insert_watch {
    width: 640px;
    background: #333;
    padding: 4px;
    box-sizing: border-box;
    color: #eeeeee;
}

.xbmc_insert_watch .send_to label {
    text-transform: uppercase;
    background: #222222;
    padding: 10px;
}

.xbmc_insert_watch .destinations {
    display: inline-block;
}

.xbmc_insert_watch .destinations div {
    padding: 10px;
    display: inline-block;
}

.xbmc_host { overflow: visible !important;}

.xbmc_insert_thumb {
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
    opacity: 0;
    min-height: 20px;
    top:0;
    box-sizing: content-box;
    -webkit-transition: opacity 0.2s;
}
.xbmc_insert_thumb .destinations {
    display: none;
    background: #222222;
}

.xbmc_host:hover .xbmc_insert_thumb {
    opacity:1;

}
.xbmc_host:hover .xbmc_insert_thumb .destinations {
    display: block;
    position: relative;
}

.xbmc_insert_thumb .destinations div {

    padding: 2px;
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    display: inline-block;
    margin:2px;
}


#watch-related .xbmc_insert_thumb {
    bottom: auto;
    top: 0;
}